/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* rubik-regular - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v18-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v18-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/rubik-v18-latin_cyrillic-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v18-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-900 - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/rubik-v18-latin_cyrillic-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v18-latin_cyrillic-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-italic - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v18-latin_cyrillic-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v18-latin_cyrillic-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500italic - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    src: local(''),
        url('../fonts/rubik-v18-latin_cyrillic-500italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v18-latin_cyrillic-500italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper {
    max-width: 270px;
    margin: 0 auto;
}

/* Intro style start */
.intro {
    min-height: 14vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 41px;
    margin-bottom: 21px;
}

.intro__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

/* Intro style end */

/* Form style start */
.survey-form__wrap {
    margin-bottom: 20px;
}

.survey-form__wrap:last-child {
    margin-bottom: 0px;
}

.survey-form__blok {
    display: block;
    font-weight: 500;
    color: #15499F;
    /*   */
}



.survey-form__field {
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left top;
    border: 0;
    border-bottom: 1px solid #96C8ED;
    padding-left: 21px;
    padding-bottom: 10px;
    font-weight: 400;
    color: #15499F;
    width: 100%
}

.survey-form__field::placeholder {
    font-weight: 400;
    color: #15499F;
}

.multiblok {
    margin-bottom: 10px;
}

.multiblok:last-child {
    margin-bottom: 0px;
}

.survey-form__buttom {
    text-align: center;
    background: #478ECC;
    border-radius: 5px;
    color: white;
    border: 0;
    width: 100%;
    height: 28px;
   /*  margin-top: 10px; */

}

.survey-form__buttom:hover, .survey-form__buttom:focus, .survey-form__buttom:active {
    background-color: #133f87;
}


.survey-form__textarea {
    border: 1px solid #96C8ED;
    font-weight: 400;
    color: #15499F;
    max-width: 270px;
    min-width: 270px;
    min-height: 10vh;
}

/* Form style end */